html {
	font-size: 15px;
}
/***************header的内容*****************/
header {
  position: fixed;
  left: 50%;
  top: 0;
  width: 100%;
  height: 3rem;
  border-bottom: 1px solid #ccc;
  max-width: 540px;
  transform: translateX(-50%);
  padding-right: 4rem;
  padding-left: 0.66rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f6f6f6;
  z-index: 999;
}
header .logo {
  float: left;
  width: 48px;
  height: 44px;
}
header .user {
  position: absolute;
  right: 0;
  top: 0;
  width: 48px;
  height: 44px;
}
header .user a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 70px;
  text-align: center;
  text-decoration: none;
  color: #2eaaea;
  font-size: 12px;
  text-indent: -999em;
  font-weight: bold;
  position: relative;
}
header .user a::before {
  content:'';
  position: absolute;
  width: 23px;
  height: 23px;
  background: url(../images/catergry.gif) no-repeat;
  background-size: 23px 23px;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
}
header .soso_box {
  width: 100%;
  height: 1.6rem;
  border: 1px solid #999;
  border-radius: 8px;
  box-shadow:0 1px 1px rgba(111,111,111,.8);
  position: relative;
  /*top: 8px;*/
  top: 10px;
  background-color: #fff;
  padding-left: 30px;
  box-sizing: border-box;
}
header .soso_box::before {
  content:'';
  position: absolute;
  width: 13px;
  height: 13px;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  background: url(../images/icon_search.gif) no-repeat;
  background-size: 13px 13px;
}
header .soso_box input {
  border: none;
  outline: none;
  font-size: 12px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
/********************carousel*********************/
.carousel {
  padding-top: 3rem;
}
.carousel .swiper-container{
  max-height: 10rem;
  max-width: 540px;
}
.carousel img {
  width: 100%;
}
/********************hot热门商品*********************/
.hot {
  width: 100%;
  max-width:540px;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  background-color: #fff;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 8px;
  padding-bottom: 4rem;
  margin: 0 auto;
}
.hot .hot-list {
  list-style: none;
  overflow: hidden;
}
.hot .hot-list .item {
  float: left;
  width: 50%;	
  padding: 0 4px;
  margin-bottom: 8px;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: white;
}
.hot .hot-list .item a {
  color: #333;
  line-height: 16px;
  text-decoration: none;
  overflow: hidden;
}
.hot .hot-list .item h4 {
  padding: 4px;
  font-size: 12px;
  white-space: nowrap;
  color: orange;
  overflow: hidden;
  text-overflow: ellipsis;
}
.hot .hot-list .item img {
  width: 100%;
  height: 190px;
}
.hot .hot-list .item .price {
	display: block;
  color: deepskyblue;
  padding: 4px;
}
.hot .hot-list .item .price em {
  font-size: 10px;
}
.hot .more-container {
  text-align: center;
}
.hot .more-container input {
  border: none;
  padding: 6px;
  outline: none;
  border-radius: 4px;
  background: #000;
  color: white;
}
/********************copyright*********************/
.version {
  width: 100%;
  text-align: center;
  padding: 1rem 0 3.5rem 0;
}
.version p {
  font-size: 12px;
  line-height: 16px;
}
/********************底部newbuttonTab*********************/
.newbuttonTab {
  position: fixed;
  width: 100%;
  height: 3rem;
  border-top: 1px solid #ddd;
  background: #fff;
  z-index: 666;
  max-width: 540px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.newbuttonTab .tabL {
  width: 25%;
  height: 3rem;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
.newbuttonTab .tabL img{
  border: none;
  vertical-align: top;
  width: 1.46rem;
  height: 1.33rem;
  padding-bottom: 3px;
}
.newbuttonTab .imgW {
  display: inline-block;
  width: 3.8rem;
  height: 3.06rem;
  padding: 8px 0;
  font-size: 0.66rem;
}
.newbuttonTab .tabL:nth-child(1) a{
  color: #f00;
}
.newbuttonTab .imgW a {
  display: block;
  text-decoration: none;
  color: #666;
}
